/* AddSubscription Page Styles */

.add-subscription-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-subscription-card {
    border-radius: 8px;
    padding: 2rem 4rem;
    box-shadow: 15px 15px 20px 30px rgba(11, 11, 11, 0.405);
    width: 100%;
    max-width: 600px;
}

.add-subscription-title {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 0px;
    font-size: 3.2rem;
}


.add-subscription-loading {
    padding: 2rem;
    text-align: center;
}

.add-subscription-form {
    display: flex;
    flex-direction: column;
    color: white;
}

.form-field {
    margin-bottom: 1.5rem;
    border: none;
    padding: 0px;

}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: white;
    padding: 0px
        /* width: 100%; */
}

.form-required {
    color: #dc3545;
}

.form-select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    border: 0px solid #242424;
    font-size: 1rem;
    background: #0a0b0b;
    color: white;
    box-shadow: 10px 10px 16px rgba(244, 242, 242, 0.1);
}

.form-textarea {
    width: 100%;
    padding: 0.75rem;
    border: 0px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    resize: vertical;
    background: #0a0b0b;
    color: white;
    box-shadow: 10px 10px 16px rgba(244, 242, 242, 0.1);
}

.form-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: space-between;
}

.form-actions button {
    width: 50%
}

/* Responsive Design */

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    .add-subscription-card {
        padding: 1.5rem 1.5rem;
        max-width: 95%;
    }

    .add-subscription-title {
        font-size: 2.5rem;
    }

    .form-actions {
        flex-direction: column;
    }

    .form-actions button {
        width: 100%;
    }
}