/* Home Page Styles */
.home-container {
    text-align: center;
    background: transparent;
    margin-top: -5rem;
}

.background {

    background: transparent;
    /* background-image: url("../public/gradient-grainy-texture/5479108.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center; */
}

h1 {
    display: inline-block;
    padding: 1rem;
}

.home-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;

}

.home-title-name {
    font-size: 3.5xrem;
    margin-bottom: 1rem;
    padding: 0.45rem 1rem;
    text-align: center;
    background-color: #333f4c;
    border-radius: 10px;
}

.home-subtitle {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
    text-align: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}


.home-welcome-message {
    /* font-size: 1.125rem; */
    margin-bottom: 1.5rem;
}

.home-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.home-buttons a {
    text-decoration: none;
}

/* Responsive Design */

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
    h1 {
        font-size: 5rem !important;
    }

    .home-container div[style*="fontSize: \"2.25rem\""] {
        font-size: 1.75rem !important;
    }
}

/* Mobile (max-width: 768px) */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem !important;
        margin-bottom: 0.5rem !important;
    }

    .home-manage-your {
        flex-wrap: nowrap !important;
        font-size: 2 rem !important;
        justify-content: center !important;
        gap: 0.75rem !important;
        width: 100% !important;
        overflow: visible !important;
    }

    .home-container div {
        font-size: 1.25rem !important;
        gap: 1rem !important;
    }

    .home-buttons,
    .home-content {
        flex-direction: column;
        gap: 0.75rem;
        width: 280px;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .home-buttons button,
    .home-content button {
        width: 90% !important;
    }
}