/* Home Page Styles */
.home-container {
    text-align: center;
    background: transparent;
    margin-top: -5rem;
}

.background {

    background: transparent;
    /* background-image: url("../public/gradient-grainy-texture/5479108.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center; */
}

h1 {
    display: inline-block;
    padding: 1rem;
}

.home-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;

}

.home-title-name {
    font-size: 3.5xrem;
    margin-bottom: 1rem;
    padding: 0.45rem 1rem;
    text-align: center;
    background-color: #333f4c;
    border-radius: 10px;
}

.home-subtitle {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 2rem;
    text-align: center;
}

.home-content {
    margin-top: 2rem;
}


.home-welcome-message {
    /* font-size: 1.125rem; */
    margin-bottom: 1.5rem;
}

.home-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.home-buttons a {
    text-decoration: none;
}