/* Input Component Styles */

.input-wrapper {
    margin-bottom: 1.5rem;
}

.input-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    /* color: #333; */
    color: white;
}

.input-required {
    color: #dc3545;
    margin-left: 0.25rem;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #242424;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
    /* background-color: white; */
    background: #0a0b0b;
    cursor: text;
    color: white;
}

.form-field {
    /* max-width: 100%; */
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #242424;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
    /* background-color: white; */
    cursor: text;
    color: white;
}

.input-field:focus {
    border-color: #007bff;
}

.input-field.error {
    border-color: #dc3545;
}

.input-field:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.input-error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
}